header {
  background-color: #F0EFE9;
  padding-top: 12px;
}
header .container {
  display: flex;
  height: -moz-min-content;
  height: min-content;
  align-items: center;
  justify-content: space-between;
}
header .container .menu-bars {
  font-size: 25px;
  border: none;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 5px;
  justify-content: flex-end;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu {
    justify-content: space-between;
  }
}
header .container .menu .top-menu .contact-information {
  display: none;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu .contact-information {
    justify-content: space-between;
    display: flex;
  }
}
header .container .menu .top-menu .contact-information .content-box {
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu .contact-information .content-box {
    justify-content: space-between;
    display: flex;
  }
}
header .container .menu .top-menu .contact-information .content-box p {
  margin-bottom: 0;
}
header .container .menu .top-menu .contact-information .content-box .i {
  margin-right: 5px;
  font-size: 1.2em;
  color: #666666;
}
header .container .menu .top-menu .contact-information .content-box.last {
  border-right: none;
}
header .container .menu .top-menu .social-media a {
  font-size: 1.3rem;
  color: #191919;
  margin-left: 10px;
}
header .container .menu .top-menu .social-media a:hover {
  color: #666666;
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 992px) {
  header .container .menu .main-menu {
    justify-content: space-between;
  }
}
header .container .menu .main-menu nav {
  margin-top: 15px;
}
header .container .menu .main-menu nav a {
  display: inline-block;
  text-decoration: none;
  color: #191919;
  margin-right: 30px;
  position: relative;
}
header .container .menu .main-menu nav a.active {
  font-weight: 500;
}
header .container .menu .main-menu nav a.active::after, header .container .menu .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .menu .main-menu .btn-yellow {
  width: 125px;
  height: 50px;
  margin-top: 15px;
  font-weight: 400;
}