.news-details {
    color: #191919;
    font-family: 'Inter', 'sans-serif';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    height: 100%;

    .container {
        .headline {
            grid-area: headline;
            
            h2 {
                font-family: 'DM sans', 'Sans Serif';
                font-size: 28px;
                color: #191919;
                font-weight: 700;
        
                @media (min-width: 576px) {
                    font-size: 45px;
                }
            }
            .info-details {
                display: flex;
                justify-content: space-between;
                width: fit-content;

                .yellow-dot {
                    font-size: 50px;
                    border-radius: 50px;
                    color: #F0D082;
                }
            }
        }
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: 
        "headline headline"
        "newstext aside";

        .newstext {
            grid-area: newstext;
            img {
                width: 50%;
            }
        }
        
        .aside {
            grid-area: aside;

        form {
            input {
                border-radius: 25px;
                background-color: #dbdbdb;
            }
        }

        .recentposts {
            border: 1px solid black;
            
        }

        .categories {
            border: 1px solid black;
            
        }
    }
    }
}

.article-news {
    background-color: #F0EFE9;
    padding: 0px;
}

.btn-parent {
.btn-outline {
    background-color: #ffffff;
}
}

