.article-news {
  padding: 30px;
  padding-bottom: 70px;
}
.article-news .container .upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
@media (min-width: 1600px) {
  .article-news .container .upper {
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }
}
.article-news .container .upper .section-title {
  margin-bottom: 0;
  text-align: center;
}
@media (min-width: 992px) {
  .article-news .container .upper .section-title {
    text-align: left;
  }
}
.article-news .container .upper .section-title h2 {
  font-size: 28px;
}
@media (min-width: 576px) {
  .article-news .container .upper .section-title h2 {
    font-size: 45px;
  }
}
.article-news .container .upper .btn-parent {
  text-align: right;
}
.article-news .container .upper .btn-parent .btn-outline {
  margin-top: 35px;
}
@media (min-width: 1400px) {
  .article-news .container .upper .btn-parent .btn-outline {
    width: 200px;
    height: 50px;
  }
}
.article-news .container .show-articles {
  display: grid;
  grid-template-columns: 1fr;
  gap: 70px;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
@media (min-width: 1600px) {
  .article-news .container .show-articles {
    grid-template-columns: repeat(3, 1fr);
  }
}
.article-news .container .show-articles .article {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (min-width: 1600px) {
  .article-news .container .show-articles .article {
    align-items: start;
    text-align: left;
  }
}
.article-news .container .show-articles .article p {
  margin-top: 15px;
}
.article-news .container .show-articles .article .img-and-date {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.article-news .container .show-articles .article .img-and-date .date {
  background-color: #F0D082;
  padding: 10px 15px 10px 15px;
  font-weight: bolder;
  font-size: 15px;
}
.article-news .container .show-articles .article .img-and-date .img-news {
  display: none;
  margin: auto;
  width: 100%;
  aspect-ratio: 3/2;
}
@media (min-width: 576px) {
  .article-news .container .show-articles .article .img-and-date .img-news {
    display: block;
  }
}
.article-news .container .show-articles .article .img-and-date .date {
  position: absolute;
  left: 15px;
  top: 15px;
  display: none;
}
@media (min-width: 576px) {
  .article-news .container .show-articles .article .img-and-date .date {
    display: block;
  }
}
.article-news .container .dots {
  padding-top: 50px;
  text-align: center;
}