.brands .container .img-brands {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 576px) {
  .brands .container .img-brands {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .brands .container .img-brands {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.brands .container .img-brands img {
  height: -moz-max-content;
  height: max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}
@media (min-width: 1400px) {
  .brands .container .img-brands img {
    padding: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1400px) {
  .brands .container .img-brands {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .brands .container .img-brands img {
    padding: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}