.features .container {
  border: 1.5px solid #DAD9D3;
}
@media (min-width: 1200px) {
  .features .container {
    display: flex;
    justify-content: center;
  }
}
.features .container .section-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1200px) {
  .features .container .section-title {
    display: inline-block;
    text-align: left;
    padding-left: 50px;
    margin-right: 50px;
    align-items: start;
  }
}
.features .container .section-title p {
  text-align: center;
}
@media (min-width: 1200px) {
  .features .container .section-title p {
    text-align: left;
  }
}
.features .container .section-title h2 {
  text-align: center;
  font-size: 28px;
  margin: 0 auto;
  padding: 40px;
}
@media (min-width: 576px) {
  .features .container .section-title h2 {
    font-size: 45px;
    max-width: 50%;
    padding: 0px;
  }
}
@media (min-width: 1200px) {
  .features .container .section-title h2 {
    text-align: left;
    max-width: 80%;
    margin: 0;
    padding: 0px;
  }
}
.features .container .section-title .btn-yellow {
  margin: 0 auto;
  margin-top: 25px;
}
@media (min-width: 1400px) {
  .features .container .section-title .btn-yellow {
    width: 480px;
  }
}
.features .container .grid-features {
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .features .container .grid-features {
    -moz-column-gap: 110px;
         column-gap: 110px;
    margin-right: 120px;
    margin-top: 100px;
    margin-left: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.features .container .grid-features .informative-text {
  margin: auto;
  margin-bottom: 50px;
  padding: 0 30px;
  text-align: center;
}
@media (min-width: 992px) {
  .features .container .grid-features .informative-text {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .features .container .grid-features .informative-text {
    text-align: left;
  }
}
.features .container .grid-features .informative-text i {
  text-align: left;
  font-size: 30px;
}
.features .container .grid-features .informative-text h3 {
  margin-top: 30px;
}
.features .container .grid-features .informative-text p {
  font-weight: 400;
}