.our-services {
  background-color: #F0EFE9;
  position: relative;
  z-index: 10;
}
.our-services .background-lines-right {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.our-services .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1400px) {
  .our-services .container {
    align-items: unset;
  }
}
.our-services .container .title {
  text-align: center;
}
@media (min-width: 1600px) {
  .our-services .container .title {
    text-align: left;
  }
}
.our-services .container h2 {
  font-size: 28px;
  text-align: center;
}
@media (min-width: 576px) {
  .our-services .container h2 {
    font-size: 45px;
  }
}
@media (min-width: 1600px) {
  .our-services .container h2 {
    text-align: left;
  }
}
.our-services .container .boxes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media (min-width: 1600px) {
  .our-services .container .boxes {
    flex-direction: row;
  }
}
.our-services .container .boxes .box {
  background-color: #FFFFFF;
  position: relative;
  padding: 40px;
  max-width: 70vw;
}
@media (min-width: 576px) {
  .our-services .container .boxes .box {
    max-width: 70%;
  }
}
@media (min-width: 1400px) {
  .our-services .container .boxes .box {
    max-width: 40vw;
  }
}
@media (min-width: 1600px) {
  .our-services .container .boxes .box {
    margin-right: 20px;
    height: 310px;
    width: 380px;
    padding: 30px;
  }
}
.our-services .container .boxes .box h3 {
  margin-top: 40px;
  font-family: "DM sans", "sans-serif";
  font-size: 22px;
  font-weight: 700;
}
.our-services .container .boxes .box p {
  row-gap: 5px;
  font-family: "inter", "sans-serif";
  font-size: 16px;
  max-width: 80%;
}
.our-services .container .boxes .box .line {
  background-color: #191919;
  position: absolute;
  top: 40px;
  width: 40px;
  height: 2px;
}
.our-services .container .boxes .box .round-btn {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 15px;
}
@media (min-width: 1600px) {
  .our-services .container .boxes .box .round-btn {
    bottom: 40px;
    right: 30px;
    margin: 0px;
  }
}
.our-services .container .boxes .box .active-btn {
  background-color: #ffffff;
  color: #191919;
  border: none;
}
.our-services .container .boxes .box .active-btn:hover {
  background-color: #191919;
  color: #DAD9D3;
}
.our-services .container .boxes .active-box {
  background-color: #F9D783;
}
.our-services .container .btn-parent {
  padding-bottom: 90px;
}
.our-services .container .btn-parent .btn-outline {
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 400;
  margin-top: 35px;
}
@media (min-width: 576px) {
  .our-services .container .btn-parent .btn-outline {
    width: 300px;
  }
}