.our-team {
  background-color: #F0D082;
}
.our-team .container .upper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1400px) {
  .our-team .container .upper {
    justify-content: space-between;
    align-items: end;
    flex-direction: row;
  }
}
.our-team .container .upper .section-title {
  text-align: center;
}
@media (min-width: 1400px) {
  .our-team .container .upper .section-title {
    text-align: left;
  }
}
.our-team .container .upper .section-title h2 {
  font-size: 28px;
}
@media (min-width: 576px) {
  .our-team .container .upper .section-title h2 {
    font-size: 45px;
  }
}
.our-team .container .upper .button-team {
  text-align: center;
  padding-bottom: 90px;
}
.our-team .container .upper .button-team .btn-outline {
  margin-top: 35px;
}
@media (min-width: 1400px) {
  .our-team .container .upper .button-team .btn-outline {
    width: 200px;
  }
}
.our-team .container .images-team {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 1400px) {
  .our-team .container .images-team {
    flex-direction: row;
    justify-content: space-around;
  }
}
.our-team .container .images-team .team-intro {
  display: none;
}
@media (min-width: 1400px) {
  .our-team .container .images-team .team-intro {
    display: block;
  }
}
.our-team .container .images-team .team-intro h3 {
  margin-top: 20px;
  font-family: "DM sans", "sans-serif";
  font-size: 22px;
  font-weight: 700;
}
.our-team .container .images-team #active-team {
  display: block;
}
.our-team .container .images-team #active-team #active-img {
  width: 70vw;
}
@media (min-width: 992px) {
  .our-team .container .images-team #active-team #active-img {
    width: 40vw;
  }
}
@media (min-width: 1400px) {
  .our-team .container .images-team #active-team #active-img {
    width: 100%;
  }
}
.our-team .container .images-team #active-team2 {
  display: block;
}
.our-team .container .images-team #active-team2 #active-img2 {
  width: 70vw;
}
@media (min-width: 992px) {
  .our-team .container .images-team #active-team2 #active-img2 {
    width: 40vw;
  }
}
@media (min-width: 1400px) {
  .our-team .container .images-team #active-team2 #active-img2 {
    width: 100%;
  }
}