.why-choose-us {
    position: relative;

    .background-box {
        display: none;

        @media (min-width:1600px) {
            display: block;
            position: absolute;
            background-color: #F0EFE9;
            height: 430px;
            width: 55%;
            bottom: 0px;
            right: 0;
            z-index: -1;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        @media (min-width: 1600px) {
            flex-direction: row;
            align-items: start;
            gap: 200px;
        }

        .left {
            padding: 15px;

            @media (min-width:1600px) {
                padding: 0;
                flex: 1.5;
                display: overflow;
            }

            .section-title {
                width: fit-content;
                padding: 15px;
                text-align: center;

                @media (min-width: 1600px) {
                    margin-bottom: 0px;
                    text-align: left;
                    margin-top: 60px;
                }

                h2 {
                    font-size: 28px;

                    @media (min-width: 1600px) {
                        font-size: 45px;
                    }
                }
            }

            .why {
                width: fit-content;
                margin: auto;
                display: grid;
                justify-content: center;
                align-items: center;
                grid-template-columns: 1fr;
                grid-template-areas:
                    "icon1"
                    "argument1"
                    "icon2"
                    "argument2"
                    "icon3"
                    "argument3"
                    "icon4"
                    "argument4";

                @media (min-width:576px) {
                    display: grid;
                    grid-template-columns: max-content max-content;
                    grid-template-areas:
                        "icon1 argument1"
                        "icon2 argument2"
                        "icon3 argument3"
                        "icon4 argument4";
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                }


                @media (min-width:1600px) {
                    justify-content: initial;
                }


                .icon {
                    border: 1px solid #F0EFE9;
                    border-radius: 50px;
                    height: 55px;
                    width: 55px;
                    position: relative;
                    margin: 0 auto;


                    i {
                        position: absolute;
                        bottom: 20px;
                        left: 20px;

                    }

                    &:hover {
                        background-color: #191919;
                        border: 1px solid #ffffff;
                        color: #ffffff;
                    }
                }

                #icon1 {
                    grid-area: icon1;
                }

                #icon2 {
                    grid-area: icon2;
                }

                #icon3 {
                    grid-area: icon3;
                }

                #icon4 {
                    grid-area: icon4;
                }

                .argument {
                    h3 {
                        margin-top: 20px;
                        font-family: 'DM sans', 'sans-serif';
                        font-size: 22px;
                        font-weight: 700;
                        text-align: center;

                        @media (min-width:576px) {
                            text-align: left;
                        }

                    }

                    p {
                        font-size: 0.8em;
                        text-align: center;

                        @media (min-width:576px) {
                            text-align: left;
                        }

                        @media (min-width:992px) {
                            font-size: 1em;
                        }
                    }
                }

                #argument1 {
                    grid-area: argument1;
                }

                #argument2 {
                    grid-area: argument2;
                }

                #argument3 {
                    grid-area: argument3;
                }

                #argument4 {
                    grid-area: argument4;
                }

            }
        }

        .right {
            display: none;

            @media (min-width:1600px) {
                display: block;
                position: relative;
                flex: 2;
            }

            .chooseus-image {
                display: none;

                @media (min-width:1600px) {
                    display: block;
                    position: absolute;
                    left: -10px;
                    top: 160px;
                }
            }


        }
    }


}